@font-face{
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.woff);
}

@font-face{
    font-family: "PlayfairDisplay";
    src: url(../fonts/PlayfairDisplay-Italic.woff);
}

*{
    padding: 0;
    margin: 0;
}

html, body, #container{
    overflow: hidden auto;
}

body{
    background: url(../img/background.png) no-repeat top left;
}

#container{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.area-central{
    margin: 0 auto;
    width: 85%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* AREA-MENU */

header{
    background-color: rgba(0, 0, 0 ,0.45);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 56.25rem;
    position: fixed;
    left: 0;
    right: 0;
}

header li{
    float: left;
}

header nav a{
    padding: 1rem;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
}

header nav a:hover{
    border-bottom: 2px solid #FFF;
}

/* AREA-CONTEUDO-1 */

.area-conteudo-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46.75rem;
}

.area-conteudo-1 article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
}

.area-conteudo-1 h2{
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.area-conteudo-1 button{
    background: none;
    border: none;
}

.area-conteudo-1 a{
    display: block;
    padding: 1rem 2.5rem;
    font-weight: 600;
    color: #FFF;
    background-color: #e84545;
    border: 1px solid #e84545;
    text-transform: uppercase;
    margin-top: 3rem;
}

.area-conteudo-1 a:hover{
    color: #e84545;
    background-color: #FFF;
    border: 1px solid #e84545;
}

/* AREA-CONTEUDO-2 */

.area-conteudo-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem 0;
}

.area-conteudo-2 .conteudo{
    display: flex;
    width: 16rem;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1rem;
    max-width: 300px;
}

.area-conteudo-2 .conteudo h3{
    text-transform: uppercase;
    color: #2d3033;
    margin: 1rem 0;
    text-align: center;
}

.area-conteudo-2 .conteudo p{
    font-size: .85rem;
    color: #6c7279;
    font-weight: 500;
}

/* AREA-CONTEUDO-3 */

.area-conteudo-3 article{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.area-conteudo-3 div{
    display: flex;
    width: 18.75rem;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1px;
}

.area-conteudo-3 div img{
    width: 100%;
}

/* AREA-CONTEUDO-4 */

.area-conteudo-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4.5rem 0;
}

.area-conteudo-4 img{
    width: 100%;
}

.area-conteudo-4 article{
    display: flex;
    flex-direction: column;
    width: 15rem;
    flex-shrink: 1;
    border: 1px solid #e8ecee;
    padding: 0.625rem;
    margin: 0.625rem;
}

.area-conteudo-4 h4{
    font-size: 1.5em;
    font-weight: normal;
    color: #2d3033;
    padding-bottom: .5rem;
}

.area-conteudo-4 h5{
    font-size: 1em;
    font-weight: 500;
    color: #e84545;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.area-conteudo-4 p{
    color: #6c7279;
    font-weight: 500;
    padding-bottom: 2rem;
}

.area-conteudo-4 ul{
    display: flex;
}

.area-conteudo-4 li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 1.5625rem;
    padding: 0.3125rem;
    margin-right: 0.1875rem;
    border: 1px solid #e8ecee;
}

/* AREA-CONTEUDO-5 */

.area-conteudo-5{
    display: flex;
    flex-wrap: wrap;
}

.area-conteudo-5 article{
    display: flex;
    flex-grow: 1;
    width: 500px;
    color: #FFF;
}

.area-conteudo-5 .area-conteudo-5-img img{
    width: 100%;
}

.area-conteudo-5 .area-conteudo-5-texto{
    flex-direction: column;
    background: url(../img/client2.png) no-repeat top center;
    background-size: cover;
}

.area-conteudo-5 .area-conteudo-5-texto h3{
    font-family: "PlayfairDisplay", sans-serif;
    font-size: 1.5rem;
    padding: 2rem 0 0 2rem;
}

.area-conteudo-5 .area-conteudo-5-texto span{
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.5rem 0 2rem 2rem;
}

/* AREA-CONTEUDO-6 */

.area-conteudo-6{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem 0;
}

.area-conteudo-6 h2{
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 2em;
    text-transform: capitalize;
    color: #3b3e41;
}

.area-conteudo-6 p{
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem 0 2rem 0;
    color: #2d3033;
}

.area-conteudo-6 button{
    border: 0;
    background: 0;
}

.area-conteudo-6 a{
    background-color: #e84545;
    border: 1px solid #e84545;
    padding: 0.9rem 4rem 0.8rem 4rem;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
}

.area-conteudo-6 a:hover{
    background-color: #FFF;
    color: #e84545;
    border: 1px solid #e84545;
}

/* RODAPE */

.rodape{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #3a3e64;
}

.rodape div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.rodape div article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 13rem;
    box-sizing: border-box;
    margin: 1.2rem;
}

.rodape h4{
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    padding-bottom: 1rem;
    color: #FFF;
}

.rodape p{
    color: #9d9fb2;
}

.rodape li{
    float: left;
}

.rodape img{
    width: 40px;
    margin: 0.5rem;
}

.copy{
    background-color: #313454;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

@media (min-width: 768px){
    .area-conteudo-1 h2{
        font-size: 3em;
    }

    .area-conteudo-5{
        display: flex;
        flex-wrap: nowrap;
    }
}

@media (max-width: 375px){
    .area-conteudo-5 .area-conteudo-5-texto h3,span{
        font-size: 1rem;
    }

    .area-conteudo-5 .area-conteudo-5-texto span{
        font-size: 0.7rem;
    }
}